<style>
    .heading {
        font-family: monospace;
        font-size: 1rem;
        color: #333;

    }
    .content {
        font-family: monospace;
        font-size: .8rem;
        color: #222;
    }
</style>

<h1 class='heading'>Title : </h1>
<p class='content'><%= @blog.title %></p>

<h1 class='heading'>Description : </h1>
<p class='content'><%= @blog.description %></p> 