<div class="flex flex-col justify-center items-center h-full w-full">
    <p class="text-[#222] text-[2rem]">BlogitOut</p>

    <p class="text-blue-500 text-[1.25rem] pt-[5rem]"> <%=link_to 'show all blogs', blogs_path %> </p>
</div>